* {
    margin: 0;
    padding: 0;
    background-color: rgb(51,103,129);
    color: white;
}

QPushButton {
    margin: 0;
    padding:0;
    border: 1px solid white;
    background-color: rgb(21,73,99);
}

QPushButton:hover {
    background-color: rgb(36,88,114);
}

QMenuBar {
    padding: 5px;
    background-color: rgb(21,83,109);
}

QMenuBar::item:selected, QMenu::item:selected{
    background-color: rgb(21,83,109);
}
